.container {
    background-color: white;
    width: 100%;
    border-radius: 24px;
    padding: 24px 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.title {
    margin: 0;
    box-sizing: border-box;
    padding-bottom: 17px;
    border-bottom: 0.5px solid #E8E8E8;
}

.list {
    margin-top: 0;
    padding: 0;
}