.auth {
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: 1px solid #6A0BFF;
    padding: 5px;
    border-radius: 24px;
    background-color: white;
}

.part {
    display: flex;
    gap: 10px;
}

.label {
    font-size: 1.5rem;
    font-weight: 600;
    color: #6A0BFF;
}

.input {
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
}