.complexity {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text {
    color: #474747;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.complexityButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}