.sidebar {
    min-width: 350px;
    max-width: 390px;
    box-sizing: border-box;
    min-height: 600px;
    background-color: white;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}