.question {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    display: flex;
    gap: 15px;
    background-color: white;
    padding: 24px;
    border-radius: 24px;
}

.titleImg {
    border-radius: 12px;
}

.titleItem {
    padding: 4px;
    font-size: 24px;
    font-weight: 500;
    color: #303030;
    margin-top: 0;
}

.titleDescription {
    font-size: 16px;
    font-weight: 500;
    color: #474747;
}

.shortAnswer {
    background-color: white;
    padding: 24px;
    border-radius: 24px;
}

.shortAnswerTitle {
    font-size: 20px;
    font-weight: 500;
    color: #303030;
    margin-top: 0;
}

.shortAnswerText {
    font-size: 16px;
    font-weight: 500;
    color: #303030;
}

.longAnswer {
    max-height: 300px;
    overflow: hidden;
    background-color: white;
    padding: 24px 24px 0 24px;
    border-radius: 24px;
}

.longAnswerFull {
    max-height: 100%;
    overflow: unset;
    background-color: white;
    padding: 24px 24px 0 24px;
    border-radius: 24px;
}

.longAnswerTitle {
    font-size: 20px;
    font-weight: 500;
    color: #303030;
    margin-top: 0;
}

.longAnswerText {
    font-size: 16px;
    font-weight: 500;
    color: #303030;
}

.moreInfo {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.moreInfoText {
    color: #6A0BFF;
    margin: 0;
}