.main {
    display: flex;
    gap: 20px;
    align-items: start;
}

.link {
    display: flex;
    gap: 10px;
    align-items: center;
}

.linkImg {
    cursor: pointer;
}

.linkText {
    color: #6A0BFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}